## YÎ£19 Artificial Intelligence II
# Homework 2

### Iglezou Myrto - 111520170038

# Question 5

In [1]:
import pandas as pd 
from pandas import DataFrame, read_csv

In [2]:
import gdown
url = 'https://drive.google.com/file/d/1dTIWNpjlrnTQBIQtaGOh0jCRYZiAQO79/view?usp=sharing'
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
output = "twitterData.csv"
gdown.download(path, output, quiet=False)
twitterData = pd.read_csv("/content/twitterData.csv")
df = pd.DataFrame(data=twitterData)
df.head(5)

Downloading...
From: https://drive.google.com/uc?export=download&id=1dTIWNpjlrnTQBIQtaGOh0jCRYZiAQO79
To: /content/twitterData.csv
186MB [00:01, 131MB/s]

   Unnamed: 0  ...                                               text
0      680949  ...                                #brokenpromises...
1      406741  ...  David Carradine  so sad. Thai's law not sure i...
2     1337108  ...    A @ 415 B @ 425. Tell your bro i say congrats!
3     1560887  ...                          @littlefluffycat  Indeed.
4     1466295  ...  Completed Race 4 Life in 58mins with girlies f...

[5 rows x 7 columns]

In [3]:
X = df['text']
y = df['target']

### Original text

## Clean Data

### Removing the scpecial characters

In [ ]:
import re

def RemoveSpecialCharacters(x):
    x = re.sub(r'[^\w]+', " ", x)
    return x

In [ ]:
X = X.apply(lambda x: RemoveSpecialCharacters(x) )

0                                            brokenpromises
1          David Carradine so sad Thai s law not sure if ...
2                  A 415 B 425 Tell your bro i say congrats
3                                    littlefluffycat Indeed
4          Completed Race 4 Life in 58mins with girlies f...
                                 ...
1279995     zawhtutwin watching cartoon and cry oh i do t...
1279996                                 is eating mcdonalds
1279997     BestSoyLatte So sorry to hear about your car ...
1279998     leesherry you have done what you could Forgiv...
1279999                     i should b sleepin i hate 8am s
Name: text, Length: 1280000, dtype: object

### Lemmatize

In [ ]:
import nltk
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer

X = X.apply(lambda x: WordNetLemmatizer().lemmatize(x))

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

### Removing the upercase

In [ ]:
X = X.apply(lambda x: x.lower())

### Removing the stopwords

In [ ]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords as stopwords2

stopwords =  set(stopwords2.words('english'))

X = X.apply(lambda x: ' '.join([word for word in x.split() if word not in (stopwords)]))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!